@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Fallback for non-Webkit browsers
  // (won't show `…` at the end of the block)
  @if $line-height {
    max-height: $line-height * $lines * 1px;
  }
}

@mixin line-clamp($font-size,
  $line-height,
  $lines-to-show) {
  @if unitless($line-height)==false {
    $line-height: create-unitless-line-height($font-size, $line-height);
  }

  display: block; // Fallback for non-webkit browsers
  display: -webkit-box;
  font-size: $font-size;
  height: ($font-size * $line-height * $lines-to-show); // Fallback for non-webkit browsers
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width+ "px") {
    @content;
  }
}


@mixin o-bold {
  font-family: 'OpenSans-Bold', sans-serif;
}

@mixin o-regular {
  font-family: 'OpenSans-Regular', sans-serif;
}

@mixin o-semibold {
  font-family: 'OpenSans-SemiBold', sans-serif;
}

@mixin r-regular {
  font-family: 'Roboto-Regular', sans-serif;
}

@mixin cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include r($r-lg){
    justify-content: space-around;
  }
  @include r($r-md){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@mixin ptl{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

@mixin bgcover{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
