$r-sm: 576;
$r-md: 768;
$r-lg: 992;
$r-xl: 1200;

$t-100: #000000;
$t-10:#dadada;
$t-light-dark: #7D7D7D;
$t-lightest: #ffffff;
$t-empty:#8D9195;
$t-main: #383A3C;
$light-bg: #FEFFFF;
$dark-bg: #DFE6EF;
$t-title: #2E5587;
$thirdly-bg:#63AC2B;
$footer-bg:#3B5976;
$f-policy: #9DC35E;
$footer-bottom-bg: #2A4051;
$sidebar-bg: #F9F9F9;
$list-border: #EAEAEA;
$link-hover: #6BB233;