.articles {
  padding: 90px 0;

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }


  .slick-slide {
    height: 100%;
    div{
      display: flex;
      flex-direction: column;
    }
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

