.articles {
  padding: 90px 0;

  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }


  .slick-slide {
    height: 100%;
    div{
      display: flex;
      flex-direction: column;
    }
  }

  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.articles-post {
  line-height: 1.5;
  border: 1px solid $t-10;
  flex: 1;
  max-width: 370px;
  display: flex !important;
  flex-direction: column;

  @include rmin($r-md) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__top {
    max-height: 250px;
  }

  &__img {
    object-fit: cover;
  }

  &__content {
    padding: 31px 26px 0;

    @include r($r-lg) {
      padding: 20px 12px 13px 18px;
    }
  }

  &__title {
    margin-bottom: 14px;
    line-height: 1.33;
    font-size: 18px;
    min-height: 83px;
  }

  &__text {
    margin-bottom: 31px;
  }

  &__valid {
    display: block;
    padding: 13px 0 14px 27px;
    color: $t-title;
    margin-top: auto;

  }

  &__date {
    @include o-bold;
  }
}