.footer {
  background-color: $footer-bg;
  color: $t-lightest;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 38px 0 82px;
  }

  &__col {
    &:not(:first-child) {
      padding-top: 42px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 26px;

    @include r($r-md) {
      display: none;
    }
  }

  &__item{
    margin-bottom: 5px;
  }

  &__link {
    font-size: 15px;
    &:hover{
      text-shadow: 0 0 2px $t-lightest;
      text-decoration: underline;
    }
    &:focus{
      outline: transparent;
      color: $thirdly-bg;
    }
    &:active{
      color: $t-main;
      text-shadow: none;
    }
  }

  &__bottom {
    padding: 8px 0 9px;
    background-color: $footer-bottom-bg;
  }


}

.info {
  flex-basis: 194px;
  font-size: 13px;
  line-height: 1.4;

  @include r($r-md) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 14px;
    line-height: 1.35;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &__yandex {
    margin-bottom: 23px;
    max-width: 161px;
    height: 50px;
  }

  &__about {
    margin-bottom: 9px;
  }

  &__link {
    color: $f-policy;
    &:hover{
      opacity: 0.8;
    }
    &:focus{
      outline: transparent;
      box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      color: $t-lightest;
    }
    &:active{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}

.reagents {
  flex-basis: 228px;

  @include r($r-md) {
    flex-basis: 50%;
  }
}

.equipment {
  flex-basis: 228px;

  @include r($r-md) {
    flex-basis: 50%;
  }
}

.company {
  @include o-bold;

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__link{
    &:hover{
      text-shadow: 0 0 2px $t-lightest;
      text-decoration: underline;
    }
    &:focus{
      outline: transparent;
      color: $thirdly-bg;
    }
    &:active{
      color: $t-main;
      text-shadow: none;
    }
  }

  @include r($r-md) {
    display: none;
  }
}

.contacts {
  flex-basis: 224px;

  @include r($r-md) {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__social {
    position: relative;
    padding-left: 28px;
    display: block;

    &:hover{
      text-shadow: 0 0 2px $t-lightest;
      text-decoration: underline;
    }
    &:focus{
      outline: transparent;
      color: $thirdly-bg;
    }
    &:active{
      color: $t-main;
      text-shadow: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__phone {
    display: block;
    font-size: 24px;
    line-height: 1.66;
    &:hover{
      text-shadow: 0 0 2px $t-lightest;
      text-decoration: underline;
    }
    &:focus{
      outline: transparent;
      color: $thirdly-bg;
    }
    &:active{
      color: $t-main;
      text-shadow: none;
    }

    &:not(:first-child) {
      margin-bottom: 13px;
    }
  }

  &__address{
    margin-bottom: 28px;
    font-style: normal ;
  }

  &__consultation {
    display: block;
    font-size: 14px;
    padding: 20px 20px;
  }

  &__email {
    margin-bottom: 7px;

    &::before {
      background-image: url(../images/icons/envelope.svg);

    }
  }

  &__insta {
    margin-bottom: 17px;

    &::before {
      background-image: url(../images/icons/insta.svg);
    }
  }
}