.hero {
  background: linear-gradient(180deg, #3C69A3 0%, #7CA538 100%);

  &__bg {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
    padding-bottom: 70px;
    background-size: contain;

  }

  &__slider {
    padding: 83px 0 72px;
    color: $t-lightest;
  }

  &__item {

    height: 300px;
  }


  &__title {
    @include o-bold;
    max-width: 343px;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 300px;
    margin-bottom: 40px;
    padding-left: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 31px;
      height: 33px;
      background-image: url('../images/icons/med-kit.svg');
      background-repeat: no-repeat;
    }
  }

  &__cart {
    position: absolute;
    top: 57px;
    right: 13%;

  }

}