.hero {
  background: linear-gradient(180deg, #3C69A3 0%, #7CA538 100%);

  &__bg {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    position: relative;
    padding-bottom: 70px;
    background-size: contain;

  }

  &__slider {
    padding: 83px 0 72px;
    color: $t-lightest;
  }

  &__item {

    height: 300px;
  }


  &__title {
    @include o-bold;
    max-width: 343px;
    margin-bottom: 40px;
  }

  &__subtitle {
    max-width: 300px;
    margin-bottom: 40px;
    padding-left: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 31px;
      height: 33px;
      background-image: url('../images/icons/med-kit.svg');
      background-repeat: no-repeat;
    }
  }

  &__cart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    top: 57px;
    right: 13%;
    background-color: $t-lightest;
    border-radius: 50%;
    @include r($r-md){
      display: none;
    }
  }

  &__cart-img {
    width: 37px;
    height: 35px;
    object-fit: cover;
  }

  &__cart-count {
    position: absolute;
    right: 19px;
    top: 19px;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $thirdly-bg;
  }
}