.news{
  &__slider{
    display: flex;
  }




  .slick-slide {
    height: 100%; 
  }
  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 0 ;
    @include r($r-md){
      margin: 0;
    }
  }

  
}