.slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: none;
  outline: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.slick-prev {
  left: 0;
  background-image: url('../images/icons/arrow-prev.svg');
  z-index: 1;
}

.slick-next {
  left: 73px;
  background-image: url('../images/icons/arrow-next.svg');
}

.slick-dots {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;

  li {
    // width: 5px;
    // height: 5px;
    // background-color: $t-lightest;
    // border-radius: 50%;
    cursor: pointer;
    padding: 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.slick-active {
      button {
        width: 15px;
        height: 15px;
      }
    }
  }

  button {
    padding: 0;
    border: none;
    outline: transparent;
    width: 5px;
    height: 5px;
    background-color: $t-lightest;
    border-radius: 50%;
  }
}