.catalog {
  &__top {
    max-width: 1250px;
    margin-left: calc((100vw - 1200px) / 2);
    padding: 0 15px;
    @include r($r-xl){
      margin-left: 0;
    }
  }

  &__title{
    padding: 70px 0 55px;
  }

  .cart{
    position: relative;
    align-self: flex-end;
    margin-bottom: 4px;
  }
}