<article class="@@element articles-post">
  <div class="articles-post__top">
    <img class="articles-post__img" src="images/articles/article-@@img.jpg"
      alt="Рекомендации по техническому обслуживанию лабораторного оборудования">
  </div>
  <div class="articles-post__content">
    <h3 class="articles-post__title">@@title</h3>
    <div class="articles-post__text">
      <p>@@text</p>
    </div>
  </div>
  <span class="articles-post__valid dark-bg">
    Действует до: <time  class="articles-post__date">@@date</time>
  </span>
</article>