<article class="product @@elem">
  <div class="product__top">
    <a class="product__link" href="#">
      <img class="product__thumb" src="images/products/product-@@number.png"
        alt="Автоматический гематологический анализатор DF50 Vet">
    </a>
    <a class="product__like" href="#">
      <svg class="product__heart">
  <use xlink:href="sprite.svg#heart"></use>
</svg>

    </a>
  </div>
  <div class="product__body">
    <span class="product__category">@@category</span>
    <h2 class="product__title">
      <a class="product__link" href="#">
        @@title
      </a>
    </h2>
    <div class="product__price">@@price</div>
    <div class="product__bottom d-flex jc-sb ai-c">
      <span class="product__present product__present--@@state">@@text</span>
      <a href="#" class="product__cart-link">
        <span class="product__cart" style="background-image: url(../images/icons/white-cart.svg);"></span>
      </a>
    </div>
  </div>
</article>